.concluida {
  background-color: rgba(206, 242, 193, 0.7);
}
.pendente {
  background-color: rgba(255, 162, 127, 0.6);
}
#task-left .pendente {
  background: none;
  color: #ab0605;
}
#task-left .concluida {
  background: none;
  color: #125b4e;
}
.task {
  max-width: 100%;
  display: flex;
  padding: 4%;
  padding-top: 3%;
  padding-bottom: 2%;
  width: auto;
  border-radius: 30px;
  justify-content: space-between;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
#task-left {
  width: 50%;
}
#task-left h2 {
  color: #125b4e;
  font-size: calc(12px + 1vw);
}
.data {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.6;
  margin-top: 8%;
}

#actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10%;
  margin-top: 1%;
}

.actions-icons {
  display: flex;
  align-items: center;
}
.actions-icons img {
  padding: 0 7%;
}

.actions-texts {
  display: flex;
  margin-left: 2%;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.7;
}
.actions-texts p {
  padding: 4%;
  padding-top: 1.5%;
}
.actions-icons .icons {
  height: 32px;
}

.icon-delete {
  padding-right: 10px;
  height: 40px;
  margin-bottom: 1%;
  margin-right: 18px;
  margin-left: -3%;
}

hr {
  background-color: black; /* Cor de fundo */
  border: none; /* Remove bordas */
  height: 2px; /* Altura */
  width: 80%; /* Largura */
  opacity: 0.2; /* Opacidade */
  margin: 5% auto 7%; /* Margens para espaçamento */
}

@media (max-width: 975px) {
  .data {
    font-size: 16px;
  }
  #actions {
    padding-right: 4%;
  }
  .actions-icons .icons {
    max-height: 25px;
  }
  .actions-texts p {
    padding: 3%;
    padding-top: 1%;
    font-size: 12px;
  }
  .icon-delete {
    max-height: 33px;
  }
}

@media (max-width: 750px) {
  .data {
    font-size: 15px;
  }
  #actions {
    padding-right: 5%;
  }
  .actions-icons .icons {
    height: 24px;
  }
  .actions-texts p {
    padding: 3%;
    padding-top: 1%;
    font-size: 12px;
  }
  .icon-delete {
    height: 32px;
  }
}

@media (max-width: 615px) {
  .data {
    font-size: 12px;
    padding: 2px;
    margin-top: 3%;
  }
  #task-left h2 {
    font-size: 16px;
    padding: 2px;
  }
  .actions-icons .icons {
    height: 21px;
  }
  .icon-delete {
    height: 29px;
  }
  .actions-texts p {
    padding: 3%;
    padding-top: 1%;
    font-size: 10px;
  }
}

@media (max-width: 515px) {
  .data {
    font-size: 10px;
    padding-left: 5px;
    margin-top: 0;
  }
  #task-left h2 {
    font-size: 13px;
  }
  .actions-icons .icons {
    height: 19px;
  }
  .icon-delete {
    height: 22px;
  }
  .actions-texts p {
    padding: 3%;
    padding-top: 1%;
    font-size: 9px;
  }
}

@media (max-width: 425px) {
}
@media (max-width: 375px) {
  .data {
    font-size: 9px;
    padding-left: 5px;
  }
  #task-left h2 {
    font-size: 12px;
    padding-left: 5px;
  }
  .actions-icons .icons {
    height: 18px;
  }
  .icon-delete {
    height: 22px;
  }
  .actions-texts p {
    padding: 3%;
    padding-top: 1%;
    font-size: 9px;
  }
}

@media (max-width: 325px) {
}
@media (max-width: 285px) {
  .data {
    font-size: 7px;
    padding-left: 5px;
  }
  #task-left h2 {
    font-size: 10px;
    padding-left: 5px;
  }
  .actions-icons .icons {
    height: 13px;
  }
  .icon-delete {
    height: 16px;
    margin-left: 1%;
  }
  .actions-texts p {
    padding: 3%;
    padding-top: 1%;
    font-size: 7px;
  }
}
