.body-background {
  background-color: rgba(255, 246, 244, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 34%;
  padding-bottom: 3%;
  flex-direction: column;
  box-shadow: 5px 5px 5px 4px RGBA(0, 0, 0, 0.3);
}
.blurred {
  filter: blur(3px);
  transition: filter 0.6s ease;
}
.body-background .container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

#filters {
  width: auto;
  margin: 6% auto;
  margin-left: 60%;
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  color: RGBA(0, 0, 0, 0.6);
}
#filters p {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: RGBA(0, 0, 0, 0.3);
  padding: 5px;
}
#filters select {
  background-color: rgba(255, 246, 244, 0.7);;
  border: none;
  padding: 3px;
  width: 20px;
}
#filters option{
  width: auto;
  font-size: 14px;
}
/* #filters:hover{
  cursor: pointer;
} */
.icons {
  height: 32px;
  padding-left: 9px;
}
.divisor{
  margin: -3% auto 6% auto;
  width: 100%;
  opacity: 0.3;
  height: 3px;
}
img:hover {
  cursor: pointer;
}

button {
  padding: 3%;
  background-color: #e5890a;
  width: 70%;
  margin: 5% auto 0;
  color: #ededed;
  font-size: 24px;
  font-weight: bold;
  border-radius: 30px;
}
select:hover {
  cursor: pointer;
}
