.body-background {
  background-color: rgba(255, 246, 244, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 34%;
  padding-bottom: 3%;
  flex-direction: column;
  box-shadow: 5px 5px 5px 4px RGBA(0, 0, 0, 0.3);
  margin-bottom: 5%;
  border-radius: 0px 0px 15px 15px;
}
.blurred {
  filter: blur(3px);
  transition: filter 0.6s ease;
}
.body-background .container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

#filters {
  width: 100%;
  margin: 6% auto;
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  color: RGBA(0, 0, 0, 0.6);
  justify-content: space-between;
  flex-wrap: wrap;
}
.filter-select {
  display: flex;
  align-items: center;
}
#filters p {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: RGBA(0, 0, 0, 0.3);
  padding: 5px;
  max-width: 100%;
}
#filters select {
  background: none;
  border: none;
  padding: 3px;
  max-width: 45px;
  min-width: 10%;
  width: 100%;
  font-size: 0;
  height: 30px;
}

#filters option {
  width: 100%;
  font-size: 15px;
  padding: 2px;
}

#filters input {
  background: none;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: RGBA(0, 0, 0, 0.3);
  padding: 10px;
  max-width: 220px;
  width: 100%;
}

#filters ::placeholder {
  font-size: 21px;
  font-weight: bold;
  color: RGBA(0, 0, 0, 0.6);
  text-align: start;
}

.icons {
  max-height: 32px;

  padding-left: 9px;
}
.divisor {
  margin: -3% auto 6% auto;
  width: 100%;
  opacity: 0.3;
  height: 3px;
}
img:hover {
  cursor: pointer;
}

button {
  padding: 3%;
  background-color: #e5890a;
  width: 70%;
  margin: 5% auto 0;
  color: #ededed;
  font-size: 24px;
  font-weight: bold;
  border-radius: 30px;
}
select:hover {
  cursor: pointer;
}

@media (max-width: 1710px) {
  .body-background {
    width: 40%;
  }
}

@media (max-width: 1400px) {
  .body-background {
    width: 45%;
  }
}

@media (max-width: 1100px) {
  .body-background {
    width: 50%;
  }
}

@media (max-width: 825px) {
  .body-background {
    width: 57%;
    padding-bottom: 4%;
  }
  button {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  .body-background {
    width: 62%;
  }
}
@media (max-width: 615px) {
  .body-background {
    width: 64%;
    padding-bottom: 5%;
  }
  button {
    font-size: 19px;
  }
  img {
    height: 24px;
  }
}
@media (max-width: 515px) {
  .body-background {
    width: 70%;
    padding-bottom: 6%;
  }
  button {
    font-size: 18px;
    padding: 8px;
    width: 75%;
  }
  img {
    height: 20px;
  }
  #filters input {
    margin-right: 1%;
  }
  #filters input::placeholder {
    font-size: 18px;
  }
  #filters p {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .body-background {
    width: 79%;
    padding-bottom: 7%;
  }
  button {
    font-size: 18px;
    width: 80%;
  }

  #filters input::placeholder {
    font-size: 16px;
  }
  #filters p {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .body-background {
    width: 82%;
  }
  button {
    font-size: 16px;
  }

  #filters input {
    padding: 6px;
  }
  #filters input::placeholder {
    font-size: 15px;
  }
}

@media (max-width: 325px) {
  .body-background {
    width: 88%;
  }
  button {
    font-size: 15px;
    padding: 6px;
  }
  img {
    height: 16px;
  }
  #filters input::placeholder {
    font-size: 14px;
  }
  #filters p {
    font-size: 16px;
  }
}

@media (max-width: 285px) {
  .body-background {
    width: 90%;
  }
  button {
    font-size: 13px;
    padding: 5px;
    width: 83%;
  }

  #filters input::placeholder {
    font-size: 12px;
  }
  #filters p {
    font-size: 13px;
  }
}
