
.main {
    animation-name: fadeIn;
    animation-delay: 0.2s; 
  }
  
  .fade {
    opacity: 0;
    animation-duration: 2s; 
    animation-fill-mode: forwards; 
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  