.modal-content .text-red {
  color: #771f1f;
  opacity: 0.9;
  font-size: 42px;
}
.aviso-title {
  color: #771f1f;
  opacity: 0.9;
  font-size: 42px;
}
.aviso {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 0% 7% 7% 7%;
  opacity: 0.7;
  margin-top: 10%;
}

.confirm-button {
  background-color: #57af0f;
  font-size: 22px;
}
.cancel-button {
  background-color: #c92626;
  font-size: 22px;
}
@media(max-width: 650px){
  .aviso{
    font-size: 26px;
  }
}
@media(max-width: 615px){
  .aviso{
    font-size: 22px;
    width: 80%;

    padding: 5%;
  }
}
@media(max-width: 500px){
  .aviso{
    font-size: 18px;
    padding: 5%;
    width: 70%;
  }
  .confirm-button {
    font-size: 20px;
  }
  .cancel-button {
    font-size: 20px;
  }
}
@media(max-width: 370px){
 
  .aviso{
    font-size: 20px;
    padding: 5%;
    width: 70%;
  }
  .confirm-button {
    font-size: 20px;
  }
  .cancel-button {
    font-size: 20px;
  }
}
@media(max-width: 285px){
  .aviso-title{
    font-size: 22px;
  }
  .aviso{
    font-size: 15px;
    padding: 5%;
    width: 70%;
  }
  .confirm-button {
    font-size: 15px;
    width: 65%;
  }
  .cancel-button {
    font-size: 15px;
    width: 65%;
  }
}